PRIVATE_KEY=
WALLET_ADDRESS=
INFURA_RPC_URL=
INFURA_WS_RPC=
UNISWAP_V2_ROUTER_ADDRESS=
BINANCE_TESTNET_API_KEY=
BINANCE_TESTNET_SECRET=
CHAIN_URL=
BINANCE_WS_URL=
CHAIN_ID=
UNISWAP_PAIR_ADDRESSES=
TOKEN_PAIRS=
DEX_TOKEN_PAIRS=
WETH=
USD₮0=
BINANCE_API_KEY=
BINANCE_API_SECRET=
PRODUCTION=
BOT_TOKEN=
CHAT_ID=